.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);

}
.followButton {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5181b8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
}
.followButton:hover {
    background-color: #2c4d70;
}
.avatar {
    width: 100px;
}
.usersWrapper {
    display: flex;
    flex-direction: column;

}
.pageButton {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    height: max-content;
    border: none;
    border-radius: 5px;
    background-color: #5181b8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
}
.pageButton:hover {
    background-color: #2c4d70;
}
.users{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.zaglushkaUser{
    width: 100px;
}